# Frontend environment variables
# Add these to Vercel environment variables too

NEXT_PUBLIC_SUPABASE_URL=https://pnfjelfvtypkpnwpflmv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_culscHx1JP314hcxWhX05w_0Gy2v-Xc
